.publicTopbar{
  z-index: 99;
  flex: 0 0 auto;
  display: flex;
  color: grey;
  align-items: center;
  background-color: 'red';
  height: 32px;

  .leftSide{
    font-weight: 400;
    padding: 0px 8px 0px 2px;
    height: 100%;
    flex: 0 0 auto;

    icon{
      padding: 0px;
      color: #7b7b7b;
    }
    .text{
      color: #7b7b7b;
      letter-spacing: 0.3px;
      align-items: center;
    }
  }

  .rightSide{
    justify-content: flex-end;
    padding-right: 8px;

    .moreOptions{
      flex: 0 0 auto;
      cursor: pointer;
      icon{
        height: 30px;
        padding: 0px;
        font-size: 22px;
      }
    }
  }
}
