.adminLoginMain{
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;

  .pwInputWrapper{
    width: 400px;
    flex: 0 0 auto;
  }

  .enterButton{
    margin-left: 12px;
  }

  .accountsList{
    flex-direction: column;
    flex: 0 0 auto;

    .accountItem{
      flex: 0 0 auto;
      border: 1px solid lightgrey;
      margin: 2px;
      width: 300px;
      padding: 2px;
      padding-left: 6px;
      border-radius: 2px;
      cursor: pointer;

      &.selected{
        background-color: lightgreen;
        border-color: lightgreen;
      }
    }
  }
}
