.openTasksFromPastBlock {
	width: 138px;
	flex: 0 0 auto;
	padding: 2px;
	align-items: center;
	cursor: pointer;
	margin-right: 9px;
	height: 40px;
	color: #ff5438;
	font-size: 18px;
	font-weight: 700;
	padding: 0px 7px;
	background: rgb(246, 247, 249);
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(223, 224, 226) rgb(206, 208, 212) rgb(190, 193, 199);
	border-image: initial;
	border-bottom: 1px solid rgb(190, 193, 199);
	border-top: 1px solid rgb(223, 224, 226);

	.icon-notification{
		border:none;
		display: flex;
    padding: 0px;
    color: #ff5438;
    font-size: 14px;
    font-weight: 100;
    margin-right: 6px;
	}

	.numberOfForgottenTasks {
    flex: 1 0 auto;
    align-items: center;
		justify-content: center;
		line-height: 17px;
		margin-bottom: 1px;
		font-size: 17px;
	}
	.forgottenTasksText{
		font-size: 15px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
		margin-left: 2px;
		color: rgba(85, 85, 85, 0.92);
	}

}

.inUserMode {
	.openTasksInPast {
		margin-left: 44px;
	}
}
