#topbar{
	background-color: #0d97ea;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 48px;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: white;

	#topbarCenter{
		flex: 1 1 auto;
		max-width: 900px;
		height: 100%;
		align-items: center;
		justify-content: space-between;

		#topbarLogo{
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 2px;
			flex: 0 0 auto;
			align-items: center;

			#topbarLogoText{
    		margin-left: 8px;
			}
		}

		#topbarNavi{
			flex: 0 1 auto;
			justify-content: flex-end;
			align-items: center;

			.naviElement{
				margin-left: 30px;
		    font-size: 14px;
		    width: 80px;
		    justify-content: center;
		    padding: 3px 4px;
		    cursor: pointer;
		    font-weight: 400;
		    letter-spacing: 0.6px;
			}

			#loginNaviElement{
		    border-radius: 4px;
				border: 1px solid white;
			}
		}
	}
}
