.footerMain{
  width: 100%;
  height: 38px;
  background-color: #e0e0e0;
  color: #757575;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  a{
    text-decoration: none;
  }

  .center{
    max-width: 920px;
    justify-content: center;

    .footerBtn{
      padding: 0px 34px;
      flex: 0 0 auto;
      font-size: 13px;
      font-weight: 400;
      cursor: pointer;
      color: #717171;
    }
  }
}
