.taskManagerEditorMain{
	justify-content: center;

	.editorContent{
		width: 100%;
		max-width: 990px;
		flex-direction: column;

		.taskListWrapper{
			min-height: 500px;
			margin-bottom: 18px;
		}
	}
}
