.monthdayBox,
.weekdayBox {
	width: 38px;
	height: 38px;
	border: 2px solid #BBBBBB;
	border-radius: 2px;
	line-height: 18px;
	font-size: 14px;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s linear;
	font-weight: 900;

	&.selected {
		border-radius: 100%;
	}
}
