.qmAssignUsersStep{
  margin-top: 8px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
	padding-bottom: 6px;
  width: 100%;

  .selectUsersBox{
    margin-top: 8px;
  }

	.selected {
		color: white;
		font-weight: 300;
	}
}
