.chnagePinWrapper{
	flex-direction: column;
	padding: 28px;
  padding-top: 20px;

	.explenationText{
    padding-top: 12px;
		flex-direction: column;
	}

	.formWrapper{
		flex-direction: column;
		flex: 0 1 auto;
		align-self: center;

		> *{
			margin-bottom: 8px;
		}

		.pinInpWrapper{
			.lockIcon{
				font-size: 18px;
				width: 21px;
				flex: 0 0 auto;
				justify-content: flex-end;
				margin-left: 4px;
				color: grey;
			}
		}

		.infoMessage{
			align-items: center;
	    border-radius: 3px;
	    font-weight: 400;
	    color: #f9a100;
	    border: 1px solid orange;
	    height: 29px;
	    font-size: 14px;
	    overflow: hidden;
	    background: #fff5e2;
			margin-bottom: 8px;

			icon{
				font-size: 14px;
				background: orange;
				color: white;
				padding-left: 7px;
				padding-right: 6px;
				padding-bottom: 10px;
				margin-right: 6px;
			}
		}

		.pinEnteredButtonWrapper{
			margin-top: 2px;
			width: 210px;
		}
	}
}
