#login {
	.login-container {
		padding: 12px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title {
		font-size: 4.5em;
		font-weight: 100;
	}
	.errorMessage{
		color: #ff0000;
    background-color: rgba(255, 84, 56, 0.15);
    padding: 4px;
    width: 100%;
    justify-content: center;
	}
}
